.pokemon-grid{
    display: grid;
    grid-gap:20px;
    padding-left:15px;
    grid-template-columns: auto auto auto auto ;   
}

.pokemon-grid .box{
    width: 90%;
    height: 350px;
    border: 3px green solid;
    background-color: rgba(7, 150, 26, 0.2);
    border-radius: 2%;
    box-shadow: 1px 2px 7px rgba(7, 150, 26, 1.5);
    text-align: center;
}

.pokemon-grid .box img{
    display: block;
    margin: auto;
    height: 175px;
    width: 200px;
}

.paginator{
    display: flex;
   justify-content: center;
}

.searchbar{
    padding-left: 410px;
    width: 900px;
}

.search{
    border: rgba(7, 150, 26, 1.5) solid 3px;
}
/* 
.zoom {
    padding: 50px;
    background-color: green;
    transition: transform .2s;
    width: 200px;
    height: 200px;
    margin: 0 auto;
  } */

  .box:hover {
    -ms-transform: scale(1.1); /* IE 9 */
    -webkit-transform: scale(1.1); /* Safari 3-8 */
    transform: scale(1.1); 
  }